<!DOCTYPE html>
<html>
<head>
	<title>Reproducir video</title>
	<link rel="stylesheet" href="/template/css/biblioteca.css">
	<link rel="stylesheet" href="/template/bootstrap-5.0.2-dist/css/bootstrap.min.css">
</head>
<body>
	<div class="content">
		<div class="menu">
			<div class="input">
			
			
				<input type="file" id="archivo">
			
			</div>
    <div id="videoList">
		<div>

		</div>
	</div>
</div>
	<video id="repro" src="" controls autoplay="true">
		<source src="" type="video/mp4">
		Tu navegador no admite la reproducción de videos.
	</video>
</div>
</body>
<script src="./js/biblioteca.js"></script>
</html>