html{
    height: 100%;
    width: 100%;
    margin: 0px;
}
body{
    height: 90%;
    width: 90%;
    margin: 5% 2%!important;
}
.content{
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 3%;
}
.menu{
    overflow: hidden;
    background-color: #2c2f33;
}
video{width: 95%;}


#videoList{
    height: 100%;

    overflow-x: scroll;
  
}
label{

    white-space: nowrap;
}
#videoList div{
    margin-top: 3%;
}